/* .hero {
    text-align: center;
    padding: 50px 20px;
    background: url('https://example.com/poker-table-bg.jpg') no-repeat center/cover;
    color: white;
  } */
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .btn {
    background-color: #d81b60;  
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(216, 27, 96, 0.3);
  }
  
  .btn:hover {
    background-color: #6d1b7b;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(216, 27, 96, 0.5);
  }

/* CARROUSEL */
.carousel {
  position: relative;
  max-width: 60%;
  min-height: 4em;
  max-height: 37em;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* Contenedor de los slides */
.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Estilo de cada slide */
.carousel-slide {
  flex: 0 0 100%;
}
.carousel-slide img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

/* Botones del carrusel */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(27, 46, 216, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}

/* Indicadores del carrusel */
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.indicator {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: rgba(255, 255, 255, 1);
}
.parrafo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}
.parrafo>section{
  flex:1;
  margin-bottom: 3em;
}
li{
  list-style: none;
}
@media only screen and (max-width: 768px) {
  .parrafo{
  flex-direction: column;
  }
}
